name: Build and Release

on:
  push:
    tags:
      - "v*" # Triggers on tags like v1.0.0, v1.1.0, etc.

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '25'
          distribution: 'temurin'

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Build with Gradle
        uses: gradle/actions/setup-gradle@v3
        with:
          arguments: build

      - name: Create Release
        uses: softprops/action-gh-release@v1
        with:
          files: build/libs/*.jar
          name: ServerTp ${{ github.ref_name }}
          generate_release_notes: true